* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    position:relative;
    height: 256px;
    width:150px;
}
.card div{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
    cursor: pointer;
    margin-top:30px;
    backface-visibility: hidden;
    transition: 1.5s;
    
}
img{
    width: 100%;
    height: 100%;
}
.card .card__front{
    transform: perspective(500px) rotateY(0deg);
    box-shadow: 0 0 20px grey;
}
.card .card__back{
    transform: perspective(500px) rotateY(180deg);
    box-shadow: 0 0 20px grey;
}

.card:hover .card__front{
    transform: perspective(500px) rotateY(180deg);
}
.card:hover .card__back{
    transform: perspective(500px) rotateY(360deg);

}
.card__logo {
    width: 25%;
    transition: .5s;
    
}
.card__logo:hover{
    transform: rotate(-25deg);
}

.card__nombre {
    color: #375d9d;
    font-weight: bold;
    background-color: #DEE5F2;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-radius:0 0 1rem 1rem ;
}

.card__numero {
    color: #375d9d;
    font-weight: bold;
}

.card__categoria {
    color: #375d9d;
    font-weight: bold;
    padding: 10px 0;
}

.card__info {
    width: 100%;
    background-color: #DEE5F2;
    text-align: center;
    padding: 20px 0;
    border-radius:1rem 1rem 0 0;
}

#card__details{
    display: fixed;
    top: 0;
    left:0;
}