* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resultado {
    display        : flex;
    position       : relative;
    flex-wrap      : wrap;
    margin         : auto;
    width          : 90%;
    justify-content: flex-start;
    row-gap        : 20px;
    column-gap     : 20px;
    padding-top    : 50px;
    padding-bottom : 100px;


}

.card {
    display       : flex;
    flex-direction: column;
    min-height    : 180px;
    align-items   : center;

    justify-content: space-between;
    width          : 200px;
    border-radius  : 1rem;
    overflow       : hidden;
    box-shadow     : 0 0 10px grey;
    cursor         : pointer;
    transition     : .4s;
}

.card:hover {
    box-shadow: 0 0 20px grey;
    transform : rotate(5deg);
}

.card__logo {
    width     : 50%;
    transition: .5s;
}

.card__nombre {
    color           : #375d9d;
    text-transform  : capitalize;
    font-size       : .8rem;
    font-weight     : bold;
    background-color: #DEE5F2;
    text-align      : center;
    width           : 100%;
    padding         : 10px 5px;
}

.card__numero {
    color      : #375d9d;
    font-weight: bold;
    font-size  : .7rem;
}

.card__categoria {
    color      : #375d9d;
    font-weight: bold;
    padding    : 10px 0;
    font-size  : .7rem;
}

.card__info {
    width: 100%;

    background-color: #DEE5F2;
    text-align      : center;
    padding         : 5px 0;
}

#card__details {
    display: fixed;
    top    : 0;
    left   : 0;
}