* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resultado {
    display        : flex;
    margin: 0 auto;
    position       : relative;
    flex-wrap      : wrap;
    margin         : auto;
    width          : 100%;
    justify-content: flex-start;
    row-gap        : 20px;
    column-gap     : 20px;
    padding-top    : 50px;
    padding-bottom : 100px;


}

.card {
    display       : flex;
    background-color: #FFF;
    flex-direction: column;
    min-height    : 180px;
    align-items   : center;
    justify-content: space-between;
    width          :200px;
    border-radius  : 1rem;
    overflow       : hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;

    transition     : .4s;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card__logo {
    /* width     : 50%; */
    width: 100px;
    transition: .5s;
    padding:5px 0;
        cursor : pointer;
}

.card__nombre {
    color           : #375d9d;
    text-transform  : capitalize;
    font-size       : .9rem;
    font-weight     : bold;
    background-color: #DEE5F2;
    text-align      : center;
    width           : 100%;
    padding         : 10px 5px;
}

.card__numero {
    display: flex;
    color      : #ffffff;
    background-color: #FFA400;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size  : 1rem;
	padding:15px;
	text-align:center;
    margin-top:8px;
    align-items: center;
    justify-content: center;

}

.card__categoria {
    color      : #375d9d;
    font-weight: bold;
    padding    : 10px 0;
    font-size  : .8rem;
	
}

.card__info {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
    width: 100%;	
    background-color: #DEE5F2;
    text-align      : center;
    padding         : 5px 0;
}

#card__details {
    display: fixed;
    top: 0;
    left:0;
}
.resultado{
    margin-top:20px;
}

.sub_menu{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #fff;
}
.error{
    color:#dc3545;
}