.nav__menu__item{
    padding:5px 13px;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.5s;
    margin-top: 10px;
    overflow: hidden;
    background-color: #5175B9;
    transform:translateX(121)
}
.nav__menu__item:nth-child(1){
    background-color: orange;
}
.nav__menu__item:hover{
    color: #000;
    background-color: #4DB99C;
    height: fit-content;
    color: #FFF;
    overflow: visible;
}
