.header{
    display: flex;
    width: 100%;
    margin:auto ;
    justify-content: space-around;
    padding:15px 0;
    background-color:#DBE5F3;
    object-fit:cover;
    
}

@media screen and (max-width:760px ){
    .header{
        width: 100%;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }
}