@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
:root{
    --color-blue:#214070;
    --color-blueligth:#5A7EBE;
    --color-orange:#fd7e14;
    --color-verde:#128170;
    --background-color-primary:#fff;
    --background-color-secondary:#EEF2F9;

}
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:var(--color-white) ;
}
.root{
    position:relative;
    min-height:100vh;
}